In [8]:
# Import dependencies

import sqlite3

sqlite_file = 'rest_data.sqlite'    # name of the sqlite database file

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Creating a new SQLite table with 1 column
c.execute('''
        CREATE TABLE IF NOT EXISTS both_restaurants (
                                id integer PRIMARY KEY,
                                rest_name text NOT NULL,
                                latitude integer NOT NULL,
                                longitude integer NOT NULL,
                                rest_address text NOT NULL,
                                zip_code text NOT NULL,
                                website text NOT NULL,
                                neighborhood text NOT NULL
                                );
        '''
    )

c.execute('''
        CREATE TABLE IF NOT EXISTS dog_restaurants (
                                id integer PRIMARY KEY,
                                rest_name text NOT NULL,
                                latitude integer NOT NULL,
                                longitude integer NOT NULL,
                                rest_address text NOT NULL,
                                zip_code text NOT NULL,
                                website text NOT NULL,
                                neighborhood text NOT NULL
                                );
        '''
    )

c.execute('''
        CREATE TABLE IF NOT EXISTS wc_restaurants (
                                id integer PRIMARY KEY,
                                rest_name text NOT NULL,
                                latitude integer NOT NULL,
                                longitude integer NOT NULL,
                                rest_address text NOT NULL,
                                zip_code text NOT NULL,
                                website text NOT NULL,
                                neighborhood text NOT NULL
                                );
        '''
    )
# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

In [16]:
# Import dependencies

import os
import csv
import pandas as pd
import numpy as np

# Define file

file_1 = "SQL_dog.csv"
file_2 = "SQL_wc.csv"
file_3 = "SQL_both.csv"

# Read the CSV files

dog_df = pd.read_csv(file_1, encoding="UTF-8", low_memory = False)    
wc_df = pd.read_csv(file_2, encoding="UTF-8", low_memory = False) 
wc_dog_df = pd.read_csv(file_3, encoding="UTF-8", low_memory = False)

In [17]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

dog_df.to_sql("dog_restaurants", conn, if_exists='append', index=False)

c.execute('SELECT * FROM {tn} WHERE {cn}="Hayes"'.\
        format(tn="dog_restaurants", cn="neighborhood"))
all_rows = c.fetchall()
print('1):', all_rows)

1): [(4, 'a Mano', 37.7768993, -122.4240297, '450 Hayes St, San Francisco, CA 94102', '94102', 'https://amanosf.com/', 'Hayes'), (5, 'Absinthe', 37.776995, -122.42288500000001, '398 Hayes St, San Francisco, CA 94102', '94102', 'http://www.absinthe.com/', 'Hayes'), (39, 'Birba ', 37.777831, -122.424177, '458 Grove St, San Francisco, CA 94102', '94102', 'http://www.birbawine.com/', 'Hayes'), (51, 'Brass Tacks', 37.7768629, -122.4243929, '488 Hayes St, San Francisco, CA 94102', '94102', 'http://brasstackssf.com/', 'Hayes'), (79, 'Chez Maman - West', 37.77708, -122.42318, ' 401 Gough St, San Francisco, CA 94102', '94102', 'http://www.chezmamansf.com/', 'Hayes'), (174, 'La Boulangerie  - Hayes Valley', 37.7766864, -122.4246696, '500 Hayes St, San Francisco, CA 94102', '94102', 'http://www.laboulangeriesf.com/locations-1/', 'Hayes'), (227, 'Off the Grid City Center ', 37.779492, 122.41761799999999, '355 McAllister St, San Francisco, CA 94102', '94102', 'https://offthegrid.com/', 'Hayes'), (237, 'Off the Grid UN Plaza', 37.780482, -122.413177, '10 United Nations Plaza, San Francisco, CA 94102', '94102', 'https://offthegrid.com/', 'Hayes'), (257, 'Pier 23 Cafe Restaurant & Bar', 37.80337120000001, -122.4030857, 'The Embarcadero, Pier 23, San Francisco, CA 94102', '94102', 'http://pier23cafe.com/', 'Hayes'), (286, 'San Francisco Wine & Cheese ', 37.774689, -122.422723, '141 Gough St, San Francisco, CA 94102', '94102', 'http://countrycheesecoffee.com/', 'Hayes'), (291, 'Scullery', 37.786425, -122.414593, '687 Geary St, San Francisco, CA 94102', '94102', 'https://www.scullerysf.com/', 'Hayes'), (300, 'Slingshot ', 37.78177, -122.41687900000001, '422 Larkin St, San Francisco, CA 94102', '94102', 'https://slinshot-cafe.business.site/?utm_source=gmb&utm_medium=referral', 'Hayes'), (312, 'Stacks', 37.776393, -122.424756, '501 Hayes St, San Francisco, CA 94102', '94102', 'http://www.stacksrestaurant.com/', 'Hayes'), (370, 'Zuni Cafe', 37.773614, -122.42156899999999, '1658 Market St, San Francisco, CA 94102', '94102', 'http://www.zunicafe.com/', 'Hayes')]

In [18]:
wc_df.to_sql("wc_restaurants", conn, if_exists='append', index=False)
wc_dog_df.to_sql("both_restaurants", conn, if_exists='append', index=False)

In [19]:
conn.commit()